<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> List of Admins</h4>
                        <p class="card-category"> List of registred admins</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        CPF
                                    </th>
                                    <th>
                                        Birth
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let admin of admins; let i = index;">
                                        <td>{{ admin.nome }}</td>
                                        <td>{{ admin.email }}</td>
                                        <td>{{ admin.cpf }}</td>        
                                        <td>{{ admin.nascimento}}</td>  
                                        <td>
                                            <button class="btn btn-danger" type="button" (click)="deletar(admin)">
                                                <i class="material-icons">
                                                    delete
                                                </i>
                                            </button>
                                            <div class="clearfix"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>