<h3>{{titulo}}</h3>
 
<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Cpf</th>
        <th>Nascimento</th>

        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
 
    <tbody>
        <tr *ngFor="let admin of admins; let i = index;">
        <td>{{ admin.codigo }}</td>        
        <td>{{ admin.nome }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.senha }}</td>         
        <td>{{ admin.cpf }}</td>        
        <td>{{ admin.nascimento | date: 'dd/MM/yyyy' }}</td>       
        
        <td><a (click)="editar(admin.codigo);">Editar</a></td>
        <td><a (click)="deletar(admin.codigo, i);">Excluir</a></td>
        </tr>
        <tr>
           <td colspan="6" style="text-align: right;">Total de Registros: {{ admins?.length }}</td> 
        </tr>
    </tbody>
</table>