<form (ngSubmit)="salvar()">

    <br/>
    <h3>{{titulo}}</h3>

    <label>Código:
        <input type="input" name="codigo" size="10" disabled/>
    </label><br/><br/>

    <label>Nome:
        <input type="input" name="nome" size="30" [(ngModel)]="admin.nome"/>
    </label><br/><br/>

    <label>Email:
        <input type="input" name="email" size="30" [(ngModel)]="admin.email"/>
    </label><br/><br/>

    <label>Senha:
        <input type="input" name="senha" size="30" [(ngModel)]="admin.senha"/>
    </label><br/><br/>

    <label>Cpf:
        <input type="input" name="cpf" size="30" [(ngModel)]="admin.cpf"/>
    </label><br/><br/>

    <label>Nascimento:
        <input type="input" name="nascimento" size="30" [(ngModel)]="admin.nascimento"/>
    </label><br/><br/>



    <button type="submit">Salvar</button>
</form>
